:host {
  --prop-gap: 8px;

  box-sizing: border-box;
  display: block;
  padding-bottom: var(--prop-gap);
}

.-cmp-main-content {
  box-sizing: border-box;
  width: min(640px, 100%);

  margin-left: auto;
  margin-right: auto;
}

header {
  --prop-height: 64px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--prop-gap);

  padding-top: var(--prop-gap);

  h1 {
    margin: 0px;
  }

  .angular-logo {
    max-height: var(--prop-height);
  }
}

.-cmp-flex-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  & > .-cl-meta {
    box-sizing: border-box;
    display: inline-block;
    margin-left: auto;
  }
}

.-cmp-title {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: var(--prop-gap);
}

.-cmp-nav {
  --prop-color: var(--cmp-color, var(--app-primary-color));
  --prop-surface-container-color: var(
    --cmp-surface-container-color,
    var(--app-surface-container-color)
  );

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  column-gap: var(--prop-gap);
  row-gap: var(--prop-gap);

  list-style: none;
  padding: 0px;

  & > * {
    box-sizing: border-box;
    display: inline-block;

    color: var(--prop-color);
    font-weight: bold;
    border: 1px solid var(--prop-color);
    border-radius: 4px;
    overflow: hidden;

    margin: 0px;
    padding: 0px;

    &.-st-active {
      background-color: color(from var(--prop-surface-container-color) srgb r g b / 0.9);
    }

    &:not(.-st-active):hover {
      background-color: color(from var(--prop-surface-container-color) srgb r g b / 0.5);
    }

    & > a {
      box-sizing: border-box;

      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 4px;

      height: 100%;

      padding: 0.25em 1ch;
      margin: 0px;

      color: inherit;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
